*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
}

.navbar{
    width: 100%;
    background: #fff;
    padding: 18px 0;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 120px;
}

.nav-links{
    display: flex;
    gap: 35px;
}

.nav-links a{
    text-decoration: none;
    color: #555;
    font-size: 15px;
    transition: 0.3s;
}

.nav-links a:hover{
    color: #2457ff;
}

.nav-btn a{
    text-decoration: none;
    background: #2457ff;
    color: #fff;
    padding: 12px 28px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    transition: 0.3s;
}

.nav-btn a:hover{
    background: #1b45d6;
}




.hero{
    width: 100%;
    height: 100vh;
    position: relative;
}

.hero-image img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: block;
    filter: brightness(40%);
}

.hero-content{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    width: 700px;
}

.hero-content h1{
    font-size: 64px;
    margin-bottom: 20px;
}

.hero-content span{
    font-style: italic;
}

.hero-content p{
    font-size: 18px;
    line-height: 1.6;
}


.hero-button{
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translateX(-50%);
}

.hero-button button{
    padding: 15px 35px;
    border: none;
    border-radius: 8px;
    background: #2d5bff;
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    bottom: 30px;

}






.speakers-section{
    width:100%;
    padding:80px 20px;
    background:#fff;
}

.speakers-wrapper{
    max-width:1200px;
    margin:0 auto;
}

.speakers-title{
    text-align:center;
    font-size:48px;
    font-weight:700;
    color:#111;
    margin-bottom:50px;
}

.speakers-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:30px;
}

.speaker-card{
    background:#fff;
    border:1px solid #e7e7e7;
    border-radius:10px;
    overflow:hidden;
    transition:.3s ease;
}

.speaker-card:hover{
    transform:translateY(-5px);
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.speaker-card img{
    width:100%;
    height:280px;
    object-fit:cover;
    display:block;
}

.speaker-info{
    padding:18px;
}

.speaker-tag{
    display:block;
    font-size:11px;
    color:#4A6CF7;
    font-weight:700;
    text-transform:uppercase;
    margin-bottom:8px;
    letter-spacing:1px;
}

.speaker-info h3{
    font-size:22px;
    color:#111;
    margin-bottom:8px;
}

.speaker-info p{
    font-size:15px;
    color:#777;
    line-height:1.6;
}






.pricing-section{
    padding:90px 20px;
}

.pricing-container{
    max-width:1200px;
    margin:auto;
}

.pricing-title{
    text-align:center;
    font-size:56px;
    font-weight:700;
    color:#162337;
}

.pricing-subtitle{
    text-align:center;
    color:#777;
    margin-top:10px;
    margin-bottom:60px;
}

.pricing-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;
}

.price-card{
    background:#fff;
    border:1px solid #E5E7EB;
    border-radius:12px;
    padding:28px;
}

.price-card.active{
    background:#132031;
    color:#fff;
}

.plan{
    font-size:12px;
    color:#888;
    font-weight:700;
    letter-spacing:1px;
}

.active .plan{
    color:#9DB8FF;
}

.price-card h3{
    font-size:56px;
    margin:10px 0 5px;
}

.price-text{
    color:#777;
    font-size:14px;
    margin-bottom:20px;
}

.active .price-text{
    color:#cbd5e1;
}

.price-card hr{
    border:none;
    height:1px;
    background:#E5E7EB;
    margin:20px 0;
}

.active hr{
    background:#31435a;
}

.price-card ul{
    list-style:none;
    margin-bottom:30px;
}

.price-card ul li{
    position:relative;
    padding-left:18px;
    margin-bottom:14px;
    color:#444;
    font-size:15px;
}

.price-card ul li::before{
    content:"•";
    position:absolute;
    left:0;
    color:#2563EB;
}

.active ul li{
    color:#fff;
}

button{
    width:100%;
    height:50px;
    border-radius:8px;
    cursor:pointer;
    font-size:15px;
    font-weight:600;
}

.outline-btn{
    background:#fff;
    border:2px solid #2563EB;
    color:#2563EB;
}

.blue-btn{
    background:#2563EB;
    border:none;
    color:#fff;
}

.outline-dark{
    background:#fff;
    border:1px solid #222;
}




.cta-section{
    position:relative;
    overflow:hidden;
    padding:100px 20px;
    border-radius:20px;
    background:linear-gradient(135deg,#f7f9ff,#eef4ff);
    margin:80px auto;
    max-width:1200px;
}

.cta-content{
    max-width:700px;
    margin:auto;
    text-align:center;
    position:relative;
    z-index:2;
}

.cta-tag{
    display:inline-block;
    background:#2563eb;
    color:#fff;
    padding:8px 18px;
    border-radius:50px;
    font-size:13px;
    font-weight:600;
    margin-bottom:25px;
    letter-spacing:1px;
}

.cta-content h2{
    font-size:52px;
    color:#162337;
    margin-bottom:20px;
}

.cta-content p{
    font-size:18px;
    color:#667085;
    line-height:1.8;
    margin-bottom:40px;
}

.cta-buttons{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.btn-primary{
    background:#2563eb;
    color:#fff;
    text-decoration:none;
    padding:16px 38px;
    border-radius:8px;
    font-weight:600;
    transition:.3s;
}

.btn-primary:hover{
    background:#1d4ed8;
}

.btn-secondary{
    border:2px solid #2563eb;
    color:#2563eb;
    text-decoration:none;
    padding:16px 38px;
    border-radius:8px;
    font-weight:600;
    transition:.3s;
}

.btn-secondary:hover{
    background:#2563eb;
    color:#fff;
}

/* Blur Background */

.cta-bg{
    position:absolute;
    border-radius:50%;
    filter:blur(80px);
}

.cta-bg.one{
    width:280px;
    height:280px;
    background:#6ea8fe;
    top:-80px;
    left:-60px;
}

.cta-bg.two{
    width:300px;
    height:300px;
    background:#dbeafe;
    right:-100px;
    bottom:-100px;
}






.footer{
    background:#101c2c;
    padding:35px 20px;
}

.footer-container{
    max-width:1200px;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
    gap:20px;
}

.footer-left{
    display:flex;
    align-items:center;
    gap:25px;
    flex-wrap:wrap;
}

.footer-logo{
    display:flex;
    align-items:center;
    gap:10px;
}

.footer-logo img{
    width:42px;
    height:42px;
    object-fit:contain;
}

.footer-logo span{
    color:#ffffff;
    font-size:24px;
    font-weight:700;
}

.footer-left p{
    color:#9ca3af;
    font-size:14px;
}

.footer-right{
    display:flex;
    gap:30px;
}

.footer-right a{
    color:#9ca3af;
    text-decoration:none;
    font-size:14px;
    transition:.3s;
}

.footer-right a:hover{
    color:#ffffff;
}


